@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
@font-face {
  font-family: "metal_lord";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/metal-lord/metal_lord.woff2)
    format("woff2");
}