$primaryBlack: #171717;
$primaryBlue: #0aaff1;
$primaryGray: #cecece;
$_2blue: #079eda;
$_2gray: #e5e2dc;

.shown-borders {
  border: 1px solid $primaryBlue;
}

@import "./general";
@import "./fonts";
@import "./header";
@import "./selection";
@import "./commented-structure";
@import "./floating-button";
@import "./breakpoints";

// #exp {
//   height: 100vh;
// }
// raw.githubusercontent
